This Jupyter Include Crawling five tables from IMDB Top 250 movies page with python libraries : beautifulsoup and html

# **import libraries**

In [23]:
import pandas as pd
from bs4 import BeautifulSoup
import requests 
import time
from lxml import html
from tqdm import tqdm
import lxml.etree as LE
import time
import numpy as np

# **Get The Main page url with request library**

In [24]:
imdb_page=requests.get('https://www.imdb.com/chart/top/?ref_=nv_mv_250')
tree = html.fromstring(imdb_page.content)
soup = BeautifulSoup(imdb_page.content, 'html.parser')

# **save all 250 movies link in links list**

In [25]:
links=[]
trs=soup.findAll('tr')
for tr in trs:
    td=tr.find('td')
    try:
        link=td.find('a').attrs
        link='https://www.imdb.com'+link['href']
        links.append(link)
    except AttributeError:
        pass

# **Create first table named "MOVIE" with 6 column and 250 rows**

In [26]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.93 Safari/537.36',
           "Accept-Language": "en-US,en;q=0.5"}

In [ ]:
movie_id=[]
titles=[]
years=[]
runtimes=[]
parental_guides=[]
canada_us=[]
for link in links:


  #movie imdb id
  id=link.split('https://www.imdb.com/title/')[1].split('tt')[1].replace('/',"")
  if id in movie_id:
      print('NOT unique Primery Key')
  else:
      movie_id.append(id)

  #get link url with request library
  page = requests.get(link, headers=headers)
  soup = BeautifulSoup(page.content, 'html.parser')
  tree = html.fromstring(page.content)
  # movie title
  title=tree.xpath('//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/h1/span/text()')[0]
  titles.append(title)

  #year
  year=tree.xpath('//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/ul/li[1]/a/text()')[0]
  years.append(year)

  #runtime
  try:
      runtime=tree.xpath('//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/ul/li[3]/text()')[0]
  except:
      runtime=tree.xpath('//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/ul/li[2]/text()')[0]

  try:
      hour=int(runtime.split('h')[0])

      try:
          runtime=hour *60 + int(runtime.split('h')[1].split('m')[0].lstrip())
          runtimes.append(runtime)
      except:
          runtime=int(runtime.split('h')[0])*60 
          runtimes.append(runtime)
             
  except:
      minutes=int(runtime.split('m')[0].lstrip())
      runtimes.append(minutes)

  #parental_guide
  try:
      parental_guide=tree.xpath('//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/ul/li[2]/a/text()')[0]
      parental_guides.append(parental_guide)
  except:
      parental_guide=np.nan
      parental_guides.append(parental_guide)

  #gross canada us
  box_office = soup.find_all('li',attrs={'data-testid': 'title-boxoffice-grossdomestic'})
  if box_office==[]:
      gross=np.nan
      canada_us.append(gross)
  else:
      for data in box_office:
          gross=data.find('div').find('ul').find('li').find('span').text
          gross=int(gross.replace('$','').replace(',',''))
          canada_us.append(gross)

# Create a dataframe for Movie table

In [ ]:
movie={}
movie['id']=movie_id
movie['title']=titles
movie['year']=years
movie['runtime']=runtimes
movie['parental_guide']=parental_guides
movie['gross_us_canada']=canada_us
movie=pd.DataFrame(data=movie)

In [ ]:
movie['parental_guide']=movie['parental_guide'].str.replace('Not Rated','Unrated').replace(np.nan,'Unrated')

In [ ]:
movie['gross_us_canada']=movie['gross_us_canada'].replace(np.nan,0)

In [ ]:
movie['gross_us_canada']=movie['gross_us_canada'].astype(int)

In [ ]:
movie['parental_guide'].unique()

array(['R', 'PG-13', 'Approved', 'PG', 'Unrated', 'G', 'Passed', 'TV-PG',
       'X', 'TV-MA', 'GP'], dtype=object)

# save as a csv file

In [ ]:
movie.to_csv('movie.csv', index=False)

# Table 2: person

TWO columns that we should crawl person_id and full_name

In [ ]:
full_names=[]
person_id=[]
for link in links:

  #get link url with request library
  page = requests.get(link, headers=headers)
  soup = BeautifulSoup(page.content, 'html.parser')
  tree = html.fromstring(page.content)
  
  #append All directors to full_name
  ul=tree.xpath('//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/div[2]/div/ul/li[1]/div/ul/li')
  xpath='//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/div[2]/div/ul/li[1]/div/ul/li'
  for i in range(1,len(ul)+1):
      xpath_d=xpath+str([i])+'/a/text()'
      director=tree.xpath(xpath_d)[0]
      full_names.append(director)

      href_d=xpath+str([i])+'/a/@href'
      id=tree.xpath(href_d)[0]
      id=id.split('/')[2].split('nm')[1]
      person_id.append(id)

  #append All writers
  ul=tree.xpath('//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/div[2]/div/ul/li[2]/div/ul/li')
  xpath='//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/div[2]/div/ul/li[2]/div/ul/li'
  for i in range(1,len(ul)+1):
      xpath_w=xpath+str([i])+'/a/text()'
      href_w=xpath+str([i])+'/a/@href'

      writer=tree.xpath(xpath_w)[0]
      full_names.append(writer)

      id=tree.xpath(href_w)[0]
      id=id.split('/')[2].split('nm')[1]
      person_id.append(id)

  # stars full_name and person id
  ul=tree.xpath('//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/div[2]/div/ul/li[3]/div/ul/li')
  xpath='//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/div[2]/div/ul/li[3]/div/ul/li'
  for i in range(1,len(ul)+1):
      xpath_s=xpath+str([i])+'/a/text()'
      star=tree.xpath(xpath_s)[0]
      full_names.append(star)

      id_xpath=xpath+str([i])+'/a/@href'
      id=tree.xpath(id_xpath)
      
      if id==[]:
          print('Warning')
      else:
          id=id[0].split('/')[2].split('nm')[1]
          person_id.append(id)

0000209
0000151
0348409
0000008
0000199
0001001
0000288
0005132
0001173
0000199
0000134
0000380
0000020
0002011
0000842
0000553
0000146
0001426
0000704
0001557
0005212
0000237
0000235
0000168
0000704
0005212
0089217
0000142
0908919
0001812
0000158
0000705
0000641
0000093
0001570
0001533
0000704
0005212
0001557
0000138
0330687
0680983
0000434
0000148
0000402
0000206
0000401
0005251
0000134
0000501
0000582
0000197
0001221
0077720
0000151
0000093
0000228
0000071
0001656
0000859
0001536
0793766
0875477
0000149
0000164
0095029
0000158
0000354
0001744
1179105
1129884
0618690
0000190
0004266
1567113
0000905
0000971
0134493
0000158
0003817
0001556
0000434
0000148
0000402
0000216
0000157
0000411
0000150
0000502
0000670
0153738
0687189
0997115
0004778
0470981
0277975
0000578
0001463
0587256
0814280
1310525
1856097
0000606
0000198
0000204
0000111
0000460
0000469
0000128
0001618
0001567
0001570
0000411
0000350
0000138
0000354
0000197
1886602
0799777
2552034
0000288
0413168
0424060
0000228
0000321
0001590
0000007
0000006
0002134
0851302
0794186
0945312
0619938
0410968
0412615
0167388
1082477
0494504
0000122
0002104
0074788
0000020
0000314
0001012
0634159
0134073
0041066
0000071
0000038
0179819
0000244
0000643
0000457
0000122
0156039
5681967
0000640
0000008
0000380
0001602
0005251
0001592
0004937
0910607
0000138
0000148
0000261
0293550
0123785
2264184
0307531
0618057
0311476
0462407
0000034
0841797
0002233
0000018
0576127
0579663
0000197
0001167
0515950
0000122
0002104
0642988
0000375
1165110
0749263
0000061
0000017
0001452
0000244
0000299
0001343
4271336
2159926
2794962
0000228
0000906
0000301
0000634
0001715
0001330
0000288
0362766
0004266
0158856
0949167
1367246
0000093
1208167
0744834
0000719
0001371
0000931
5645519
0305558
0000973
0000158
0000741
0725543
0000154
0000521
0001526
0001618
0000134
5939164
0001638
0344963
0921044
0000375
0262635
0749263
0559444
0410942
0849100
0000245
0000354
0000255
0000134
0000249
0001527
1126340
4759838
6954008
0000037
0640307
0001666
0451148
0534856
1587175
0000995
0001467
0000124
0001536
0755403
0619938
0000158
0000741
0000349
9862858
9862859
9862860
0000434
0000148
0000402
0001158
0516972
0843213
0000120
0000701
0929489
0470385
0592500
0490708
0000172
0000619
0000514
0586568
0488917
5038871
0000564
0000027
0000063
0000080
0001072
0173827
0000048
0927145
0484737
0793766
0437520
0385443
0000026
0001693
0000051
0000071
0001571
0000895
0000493
0000511
0534045
0851582
0440913
0749363
0534045
0001766
0000064
0000532
0535861
0060988
0000546
0000388
0000352
0000199
0000201
0000874
0592135
5623883
1502434
0044073
0246386
0309945
0000199
0000134
0000174
0000060
0576345
0653942
0000799
2973712
0001652
0000056
0000602
0001727
1818216
0368689
4299147
0375609
0002154
0297054
0000228
0000128
0001602
0000246
0000614
0000889
0000134
0000149
0001732
0000148
0000125
0233145
0005458
0000093
0334318
0536009
0821543
0136794
2594301
0451148
2540053
2835616
1126657
0990547
0000129
0000124
1886602
0004486
0487884
0559890
0451148
2799219
0760778
0000142
0001812
0002231
0000288
0000323
0913822
0000122
0701012
0001067
0000054
0000348
0000493
0000164
1469236
0309693
0000012
0000879
0001695
0000138
1706767
3053338
0001557
0991810
0004802
0000075
0000044
0001847
0619938
0855417
0628704
0000134
0000232
0000582
0000120
0000438
0001473
0000358
0200452
0001354
1419440
0317725
0530365
0000142
0000432
0000151
0000246
0005286
0001057
0000138
0607865
0749263
0000128
0000438
0000124
0000554
0000368
0000156
0001536
0867391
0619938
0000007
0404158
0392529
0001037
0000092
0001385
0000169
0000849
0000982
0000235
0001016
0000435
0000537
0001258
0000277
0001536
0477553
0605270
0000621
0000979
0202966
0000983
0001122
1071252
4043618
3918035
1212722
0000164
0000457
0000843
0000197
0001159
0001379
0000134
0001550
0000582
0915989
0000204
0001291
0000022
0000046
0593775
0001537
0000038
0191950
0002076
0002077
0602941
0688132
0352778
0085400
0047962
0454120
0309107
0201857
0897845
0706567
0000531
0000437
0005377
0000191
0001971
0001538
0000034
0000027
0370144
0413168
0350453
0205626
0000513
0000531
0000114
0362766
0000560
0249291
0000142
3057402
1542291
0000138
0000158
0000686
0847054
0383022
0757076
0005476
0000142
0000151
0619870
0268488
0781245
0000148
0000442
0000707
0000122
0841501
0615306
0005403
0799777
0429069
0705356
0914612
0342488
0000160
0000365
0248600
0252230
0931324
1055413
0000032
0370144
0000963
0000146
0000719
0023832
0000008
0001500
0002011
0000255
0683253
0000439
0000206
0000401
1745190
0803705
0000761
0862026
0000036
0533045
0147070
0641939
0001943
0535861
0000358
0000592
0188949
0000134
0000686
0001030
1940449
0941777
3478396
0000080
0001072
0885098
0598971
0889024
0886870
0814280
1235292
1323287
0334882
0555404
0897640
0000036
0570230
0444172
0000071
0000795
0001647
0362766
0000234
0396558
0001057
0000450
0051509
0059431
0124930
2395586
0001884
0085038
0252345
0000345
0000422
0316701
0000245
0000494
0000160
0001702
0001727
0000377
0488953
5016878
0108703
0000313
0000422
0000194
0753479
0383261
0945522
0266029
0798564
0075551
0000354
0000288
1256532
0000332
0645683
0001618
0000230
0001735
0949350
0004951
0738918
0652663
0000221
0000297
0000353
0749263
0000474
1046097
0413168
0001772
6748436
0000216
0000157
0000299
0000696
0000203
0000397
0117709
1165110
1312575
0001159
0000034
0002075
0000160
0000365
0229943
0386472
0000681
0001416
0000023
0604656
0001961
0001485
0000763
0545298
0000995
0001884
0000304
0000195
0000510
0254402
0005266
0000168
0000456
0001479
0000912
0821041
0001993
0468003
0846548
0000136
0001691
0089217
0000152
0000260
0846480
0352835
0552483
0754272
0052333
0052334
0052343
0000020
0002034
0001017
1002038
0476334
0406157
1421814
7934649
8904193
0248408
0305558
0865949
0000059
0000021
0001695
1195119
1978402
2437361
0000056
0001421
0001510
0000267
0001626
0662223
0000022
0001055
0175369
0529543
0753716
0561158
0000761
0880521
0472234
0001037
0000092
0001589
0547349
0001065
0000098
0205626
1297015
0818055
0918334
0000245
0488306
0000126
0001521
0001295
0613364
0813272
0125730

In [ ]:
print(len(full_names))
print(len(person_id))

1585
1585

Create a dataframe for person table

In [ ]:
person_dict={} 
person_dict['person_id']=person_id
person_dict['name']=full_names
person=pd.DataFrame(data=person_dict)

In [ ]:
person=person.drop_duplicates(keep='first')
person

     person_id              name
0      0001104    Frank Darabont
1      0000175      Stephen King
3      0000209       Tim Robbins
4      0000151    Morgan Freeman
5      0348409        Bob Gunton
...        ...               ...
1580   0619330     Yuriy Nagibin
1581   0037539  Vladimir Arsenev
1582   0613364     Maksim Munzuk
1583   0813272     Yuriy Solomin
1584   0125730   Mikhail Bychkov

[1076 rows x 2 columns]

Save the dataframe as csv file

In [ ]:
person.to_csv('person.csv', index=False)

# **table 3: Cast**

In [ ]:
import time
movie_ids=[]
person_id=[]
for link in links:

  #movie imdb id
  movie_id=link.split('https://www.imdb.com/title/')[1].split('tt')[1].replace('/',"")


  #get link url with request library
  page = requests.get(link, headers=headers)
  soup = BeautifulSoup(page.content, 'html.parser')
  tree = html.fromstring(page.content)
  # stars person id
  ul=tree.xpath('//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/div[2]/div/ul/li[3]/div/ul/li')
  xpath='//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/div[2]/div/ul/li[3]/div/ul/li'
  for i in range(1,len(ul)+1):
      id_xpath=xpath+str([i])+'/a/@href'
      id=tree.xpath(id_xpath)
      if id==[]:
          print('Warning')
      else:
          id=id[0].split('/')[2].split('nm')[1]
          person_id.append(id)
          movie_ids.append(movie_id)

In [ ]:
print(len(person_id))
print(len(movie_ids))

750
750

In [ ]:
cast_dict={}
cast_dict['person_id']=person_id
cast_dict['movie_id']=movie_ids
cast=pd.DataFrame(data=cast_dict)

In [ ]:
cast=cast.drop_duplicates(keep='first')
cast

    person_id movie_id
0     0000209  0111161
1     0000151  0111161
2     0348409  0111161
3     0000008  0068646
4     0000199  0068646
..        ...      ...
745   0001521  0099348
746   0001295  0099348
747   0613364  0071411
748   0813272  0071411
749   0125730  0071411

[750 rows x 2 columns]

save the cast table as csv files

In [ ]:
cast.to_csv('cast.csv', index=False)

# Table 4: genre

containing two columns that should be crawl (movie_id and genre)

In [ ]:
movie_ids=[]
genres=[]
for link in links:

  #movie imdb id
  movie_id=link.split('https://www.imdb.com/title/')[1].split('tt')[1].replace('/',"")


  #get link url with request library
  page = requests.get(link, headers=headers)
  soup = BeautifulSoup(page.content, 'html.parser')
  tree = html.fromstring(page.content)
  genre_elm=tree.xpath('//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/div[1]/div[2]/a')
  xpath='//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/div[1]/div[2]/a'
  if len(genre_elm)==1:
      g_xpath=xpath+'/span/text()'
      genre=tree.xpath(g_xpath)[0]
      genres.append(genre)
      movie_ids.append(movie_id)
  else:
      for i in range(1,len(genre_elm)+1):
           g_xpath=xpath+str([i])+'/span/text()'
           genre=tree.xpath(g_xpath)[0]
           genres.append(genre)
           movie_ids.append(movie_id)

In [ ]:
print(len(genres))
print(len(movie_ids))

628
628

In [ ]:
genre_dict={}
genre_dict['genre']=genres
genre_dict['movie_id']=movie_ids
genre=pd.DataFrame(data=genre_dict)
genre.tail(20)

         genre movie_id
608     Comedy  0025316
609    Romance  0025316
610      Crime  0053198
611      Drama  0053198
612      Drama  0060827
613   Thriller  0060827
614     Comedy  0079470
615  Animation  0129167
616     Action  0129167
617  Adventure  0129167
618      Drama  1454029
619  Animation  0103639
620  Adventure  0103639
621     Comedy  0103639
622  Adventure  0099348
623      Drama  0099348
624    Western  0099348
625  Adventure  0071411
626  Biography  0071411
627      Drama  0071411

In [ ]:
genre.to_csv('genre.csv', index=False)

# table 5: (directors and writers)

This table includes this columns: 
1. movie_id
2. person_id
3. role

In [ ]:
movie_ids=[]
person_id=[]
roles=[]

for link in links:
  #movie imdb id
  movie_id=link.split('https://www.imdb.com/title/')[1].split('tt')[1].replace('/',"")

  #get link url with request library
  page = requests.get(link, headers=headers)
  soup = BeautifulSoup(page.content, 'html.parser')
  tree = html.fromstring(page.content)
  
  #append All directors person id and roles with movie id
  ul=tree.xpath('//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/div[2]/div/ul/li[1]/div/ul/li')
  xpath='//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/div[2]/div/ul/li[1]/div/ul/li'
  for i in range(1,len(ul)+1):
      href_d=xpath+str([i])+'/a/@href'
      id=tree.xpath(href_d)[0]
      id=id.split('/')[2].split('nm')[1]
      person_id.append(id)
      roles.append('Director')
      movie_ids.append(movie_id)

  #append All writers person id,role with movie id
  ul=tree.xpath('//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/div[2]/div/ul/li[2]/div/ul/li')
  xpath='//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/div[2]/div/ul/li[2]/div/ul/li'
  for i in range(1,len(ul)+1):
      href_w=xpath+str([i])+'/a/@href'
      id=tree.xpath(href_w)[0]
      id=id.split('/')[2].split('nm')[1]
      person_id.append(id)
      movie_ids.append(movie_id)
      roles.append('Writer')

Create a DataFrame with Crawled Data

In [ ]:
crew_dict={}
crew_dict['movie_id']=movie_ids
crew_dict['person_id']=person_id
crew_dict['role']=roles
crew=pd.DataFrame(data=crew_dict)
crew

    movie_id person_id      role
0    0111161   0001104  Director
1    0111161   0000175    Writer
2    0111161   0001104    Writer
3    0068646   0000338  Director
4    0068646   0701374    Writer
..       ...       ...       ...
830  0099348   0086658    Writer
831  0071411   0000041  Director
832  0071411   0000041    Writer
833  0071411   0619330    Writer
834  0071411   0037539    Writer

[835 rows x 3 columns]

Save the DataFrame as a CSV File

In [ ]:
crew.to_csv('crew.csv', index=False)